// Place all the styles related to the truck_finder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-left: 0% !important;
  position: absolute;
  left: 4%;
}

.main-container {
  top: 20px;
}

#map {
   display:inline-block;
   height: 400px;
   width: 60%;
   border-radius: 16px 16px;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 20px;
   left: 15px;
 }

 #table {
  position: absolute;
  top: 20px;
  right: 15px;
  height:400px;
  width: 30%;
  color: black;
  border:2px solid white;
  border-radius:25px;
  font-family: 'Slabo 27px', serif;
  font-weight: 600;
  background-color:rgba(255, 255, 255, 0.7);
  z-index:1;
  display:inline-block; 
  overflow-y: auto;
 }

h1 {
  position: relative;
  font-family: 'IndieFlower';
  font-style: normal;
  font-weight: 500;
  src: local('IndieFlower'), local('IndieFlower'), url(../fonts/IndieFlower.ttf) format('truetype');
}

td{
  width: 50%;
}

#bigvideo {
  z-index: -1;
}

#title-header {
  border: 2px solid white;
    position: relative;
    width: 40%;
    left: 30%;
    margin-bottom: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.7);
    font-family: 'Lobster', cursive;
}

#search-container {
  border: 2px solid white;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  width: 82%;
  left: 9%;
}

#search-container div {
  margin-left: 50px;
  width: 250px;
}

.search-box {
  margin-top: 22px;
  font-family: 'Lobster', cursive;
}

.select-distance-box {
  margin-top: 2px;
}

.truck-container {
  top: 234px;
}

