<!DOCTYPE html>
<html>
	<head>
	    <title>FoodOnTheMove</title>
	    <meta name="viewport" content="initial-scale=1.0">
	    <meta charset="utf-8">
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAHcH2vNO7-2i6pA4CrCSn7qTs8uH3FHs&callback=initMap"></script>
		<%= javascript_include_tag "application" %>
 	</head>

 	<body>
	    <div id="map">
<!-- 	    	<div id="map-canvas">
	    		
	    	</div> -->
	    </div>
    </body>
</html>
    